<!DOCTYPE html>
<html>
<head>
    <title>Your Report</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    
    <button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
        <span class="sr-only">Open sidebar</span>
        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
        </svg>
    </button>
    
    <aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
        <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">    
            <ul class="space-y-2 font-medium">
                <li>
                    <button id="no-of-transactions-button" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">Number of transactions</button>
                </li>
                <li>
                    <button id="total-debited-amount-button" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">Total Debited</button>
                </li>
            </ul>
        </div>
    </aside>
    
    <div class="p-4 sm:ml-64">
        <div class="p-4 border-2 border-gray-200 border rounded-lg dark:border-gray-700">
            <h1 class="text-2xl font-bold text-center my-4">Your Report</h1>    
            <div id="graphs-container" class="flex justify-center items-center mt-4">
                {% if graph_paths %}
                <div class="grid grid-cols-1 gap-4">
                    {% for graph_path in graph_paths %}
                    <img class="w-full h-auto" src="{{ graph_path }}" alt="Total Spending Per">
                    {% endfor %}
                </div>
                {% else %}
                <p class="no-graph text-center text-gray-500">No graphs to display</p>
                {% endif %}
            </div>
        </div>
    </div>
            
<script>
    document.getElementById('no-of-transactions-button').addEventListener('click', function() {
        fetch("{% url 'generate_report' file_id %}", {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                report_type: 'transactions'
            })
        })
        .then(response => response.json())
        .then(data => {
            const container = document.getElementById('graphs-container');
            container.innerHTML = '';
            if (data.graph_paths.length > 0) {
                const gridDiv = document.createElement('div');
                gridDiv.className = 'grid grid-cols-1 gap-4';
                data.graph_paths.forEach(path => {
                    const img = document.createElement('img');
                    img.className = 'w-full h-auto';
                    img.src = path;
                    gridDiv.appendChild(img);
                });
                container.appendChild(gridDiv);
            } else {
                container.innerHTML = '<p class="no-graph text-center text-gray-500">No graphs to display</p>';
            }
        })
        .catch(error => console.error('Error:', error));
    });

    document.getElementById('total-debited-amount-button').addEventListener('click', function() {
        fetch("{% url 'generate_report' file_id %}", {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                report_type: 'debited'
            })
        })
        .then(response => response.json())
        .then(data => {
            const container = document.getElementById('graphs-container');
            container.innerHTML = '';
            if (data.graph_paths.length > 0) {
                const gridDiv = document.createElement('div');
                gridDiv.className = 'grid grid-cols-1 gap-4';
                data.graph_paths.forEach(path => {
                    const img = document.createElement('img');
                    img.className = 'w-full h-auto';
                    img.src = path;
                    gridDiv.appendChild(img);
                });
                container.appendChild(gridDiv);
            } else {
                container.innerHTML = '<p class="no-graph text-center text-gray-500">No graphs to display</p>';
            }
        })
        .catch(error => console.error('Error:', error));
    });
</script>

</body>
</html>
